<h1>sign up</h1>
<% @user %>
<br/>

<div data-turbo="false">
    <%= form_with model: @user, url: sign_up_path do |form| %>
      <% if @user.errors.any? %>
       <div class="alert alert-danger">
        <% @user.errors.full_messages.each do |message|%>
           <div><%= message %></div>
        <% end %>
       </div>
     <% end %>
        <div class="mb-3">
           <%= form.label :Email %>
           <%= form.text_field :email, class:"form-control", placeholder:"Email" %>
        </div>

        <div class="mb-3">
            <%= form.label :Password %>
            <%= form.password_field :password, class:"form-control", placeholder:"password" %>
            <%= link_to "Forgot your Password?", password_reset_path %>
        </div>

        <div class="mb-3">
            <%= form.label :Password_Confirmation %>
            <%= form.password_field :password_confirmation, class:"form-control", placeholder:"password" %>
        </div>

        <div class="mb-3">
           <%= form.submit "Sign up", class:"btn btn-primary" %>
        </div>
    <% end %>
</div>
